.profile{
    display: flex;
    flex-direction: column;
}
.profile__bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}
.profile__language{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    
}
.profile__languageButton{
    margin: 20px;
    padding: 30px;
    color: #000;
    font-size: 20px;
}
.profile__back{
    margin: 20px;
    padding: 30px;
    
    
}
.profile__languageButton{
    color: #000;
    font-size: 20px;
}
.profile__header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 40px;
    
}
.profile__headerLine1{
    font-family: "Punch-condense";
    font-size: 250px;
    margin: 10px;
    
}
.profile__headerLine2{
    padding: 20px;
    letter-spacing: 8px;
    font-size: 12px;
    
}
.profile__name{
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    font-family: NexaLight, sans-serif;
    padding-top: 50px;
}
.profile__content1{
    display: flex;
    flex-direction: column;
    padding: 60px;

}
.profile__content2{
    display: flex;
    flex-direction: column;
    padding: 60px;
}
.profile__content3{
    display: flex;
    flex-direction: column;
    padding: 60px;
}
.profile__contentTitle{
    font-family: NexaBold, sans-serif;
    font-size: 40px;
}
.profile__contentMain{
    width: 60%;
    font-size: 20px;
}
.profile__backNavigationPanel{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px;
    align-items: center;
}
.nav__element1{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.nav__element2{
    color:#000;
    font-family: NexaBold, sans-serif;
    border-bottom: 2px solid gray;
    text-decoration: none;
    font-size: 20px;
}
.nav__element3{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile__backNavigationPanel3{
    padding-top: 80px;
}
.nav__element3Line1{
    color:#000;
    font-family: NexaBold, sans-serif;
    border-bottom: 2px solid gray;
    text-decoration: none;
    
    font-size: 20px;
}
@media (max-width:768px){
    .profile__headerLine1{
        font-size: 120px;
    }
    .profile__bar{
        padding: 10px;
        justify-content: space-evenly;
    }
    .profile__languageButton{
        padding: 10px;
    }
    .profile__back{
        padding: 10px;
    }
    .profile__contentMain{
        width: 100%;
    }
    .profile__backNavigationPanel{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .profile__backNavigationPanel2{
        padding-top: 80px;
    }
}
