.artists__container{
    display: flex;
    flex-direction: column;
    line-height: 1.9;
}
.artist__title{
    margin-bottom: 0;
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.artists__content1{
    padding: 30px;
    padding-bottom: 100px;
    
}
.artists__content2{
    padding: 30px;
    padding-bottom: 100px;
}
.artists__content2 > span{
    text-align: center;
}
.artists__content3{
    padding: 30px;
    padding-bottom: 100px;
}
.artist__main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items:center;
}
.artist__text{
    
    font-size: 20px;
    width: 60%;
    padding: 60px;
    padding-top:15px;
    text-align: center;

}
iframe{
    height: 30vw;
    width: 65vw;
}




.artist__headerTitle{
    font-family: "Segoe UI Bold";
    font-size: 100px;
    font-weight: 900;
    margin: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.artist__headerMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    
}
@media (max-width:768px){
    .artist__headerMain{
        padding-top: 120px;
    }
    .artist__headerTitle{
        font-size: 60px;

    }
    .artist__title{
        font-size: 20px;
    }
    .artist__text{
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    
    
    iframe{
        height: 50vw;
        width: 80vw;
    }
}
