.header{
    height: 120px;
    display: flex;
    background-color: transparent;
    top: 0;
    
    z-index: 100;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    position: absolute;
    height: 20%;
width: 11%;
    margin: 0 20px;
    margin-top: 18px;
    padding-top:50px;
    object-fit: contain;
}
.header__nav{

    margin-left: auto;
    padding-right: 80px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;

}
.header__options{
    float: right;
    font-size:15px;
    font-family: NexaLight;
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__link{
    font-size:20px;
    font-family: NexaLight;
    color: white;
    text-decoration: none;

}
@media (max-width: 768px){
    .header__logo{
        height: 20%;
        width:30%;
    }
    .header__options{
        display: none;
    }
}