@font-face{
    font-family: "NexaBold";
    src: url("./fonts/Nexa Bold.otf") format("truetype");
  }
  @font-face{
    font-family: "NexaLight";
    src: url("./fonts/Nexa Light.otf") format("truetype");
  }
  @font-face{
      font-family: "Sergoe UI Regular";
      src: url("./fonts/Segoe UI.woff") format("truetype");
  }
  @font-face{
    font-family: "Dense Font";
    src: url("./fonts/DenseLetters-nRgDO.otf") format("truetype");
  }

@font-face {
  font-family: "Punch-condense";
  src: url("./fonts/PunchCondensed-lg9L5.otf") format("truetype");
}

html, body{
    overflow-x: hidden;
    
}
